<div class="login-header">
    <img src="../../assets/logo.png" alt="GlobalEvent" class="app-logo" />
  </div>

<div class="login-container">
    <h1 class="app-title">Login</h1>
    <form (submit)="login($event)">
        <input type="text" [(ngModel)]="nombre_usuario" name="nombre_usuario" placeholder="nombre_usuario" required />
        <input type="password" [(ngModel)]="contrasena" name="contrasena" placeholder="contrasena" required />
        <button type="submit">Iniciar sesión</button>

        <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    </form>
</div>

<script src="login.js"></script>