<div class="footer-container">
    <div class="footer-section">
        <h4>Sobre Nosotros</h4>
        <p>Somos una empresa dedicada a proporcionar la mejor gestion de eventos y espacios.</p>
    </div>
    <div class="footer-section">
        <h4>Contacto</h4>
        <p>Teléfono: +34 630 704 510</p>
        <p>Email: eventspoter&#64;gmail.com</p>
        <p>Dirección: Calle Falsa 123, Ciudad, País</p>
    </div>
    <div class="footer-section">
        <h4>Enlaces Rápidos</h4>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="calendario">Calendario</a></li>
            <li><a href="login">Iniciar Sesion</a></li>
            <li><a href="#">Terminos de uso y Politica de privacidad</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Redes Sociales</h4>
        <ul class="social-media">
            <li><a href="#"><i class="fa-brands fa-x-twitter" style="padding-left: 10px;"></i> Twitter</a></li>
            <li><a href="#"><i class="fa-brands fa-instagram" style="padding-left: 10px;"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin" style="padding-left: 10px;"></i> LinkedIn</a></li>
            <li><a href="#"><i class="fa-brands fa-youtube" style="padding-left: 10px;"></i> Youtube</a></li>
            <li><a href="#"><i class="fa-brands fa-tiktok" style="padding-left: 10px;"></i> TikTok</a></li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <p><i class="fa-regular fa-copyright"></i> 2025. Todos los derechos reservados.©</p>
</div>