:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}

.app-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: center;
    color: #45a049;
}

.register-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs{
    margin-bottom: 20px;
    color: #45a049;
}

input {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}