<nav class="navbar container-fluid">
    <img class="logo" src="../../logo.png" alt="Logo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active custom-navlink" [routerLink]="['/']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-navlink" [routerLink]="['/eventos']"
                    routerLinkActive="router-link-active">Eventos</a>
            </li>
            <li class="nav-item" *ngIf="usersService.isLogged()">
                <a class="nav-link custom-navlink" [routerLink]="['/calendario']"
                    routerLinkActive="router-link-active">Calendario</a>
            </li>
            <li class="nav-item" *ngIf="usersService.isLogged()">
                <a class="nav-link custom-navlink" [routerLink]="['/crear']"
                    routerLinkActive="router-link-active">Creación</a>
            </li>
            <li class="nav-item" *ngIf="usersService.isLogged()">
                <a class="nav-link custom-navlink" [routerLink]="['/admin']"
                    routerLinkActive="router-link-active">Admin</a>
            </li>
        </ul>

        <div class="btn-group dropstart custom-dropdown">
            <ul class="dropdown-menu">
                <li *ngIf="!usersService.isLogged()">
                    <a class="dropdown-item custom-item" [routerLink]="['/login']"
                        routerLinkActive="router-link-active">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>